

body{
   margin:0;
   padding: 0;
   font-family: sans-serif;
    background:white;
  }
section{
    position: relative;;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
section .content{
    position: relative;
    z-index: 1;
    margin: 0 auto;
    max-width: 900px;
    text-align: center;
}
section::before{
    content: '';
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#69d49f,#446eb1);
    border-radius: 0 0 50% 50%/0 0 100% 100%;
    transform: scaleX(1.2);
    }
 h1{
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-size:"50em";     
}
 p{
   
    color: #ffffff;
    font-size: "5.5em";
}
.box{
  
    width: 800px;
    height:200px;
    margin: 10px auto 0px auto;
    border-style:solid;
    border-width: 7px;
    border-color:#446eb1 #69d49f #69d49f #446eb1;


}

.box h2,p{
    margin: 20px;
    padding: 10px 0px;
    
}

.box h2{
    text-align: center;
    font-size: 2em;
}
.box p{
    margin: 0%;
    padding: 0%;
    font-size: 1.3em;
    font-family: sans-serif;
    color: black;
   

}
.Recharge {
    
    margin: 2%;
    padding: 2%;
    background: linear-gradient(#69d49f,#446eb1);
    
    
}
.Recharge p{
    color: whitesmoke;
    font-size: 1.2em;
    font-family: sans-serif;
    font: outline;
    overflow: hidden;
    font-display:bold;
}
.Recharge h3{
    text-align: center;
    font-size: 2em;
    color:whitesmoke;
    font: outline;
    font-family: sans-serif ;

}
.Recharge ul{
    color:#ffffff ;
    font-family: sans-serif;
}
.last{
    width: 300px;
    height: 40px;
    margin: 10px auto;
    left: 550px;
    position: relative;;
    border-radius: 30px;
    background: linear-gradient(#69d49f,#446eb1);
    cursor: pointer;
    transition: all;

}
h4{
    text-align: center;
}
h5{
    padding: 0 auto;
    margin:  auto;
    font-size: 20px;
}
address{

}